<div class="navbar-container">
    <div class="navbar-img">
    </div>
    <div class="navbar">
        <ul class="v-effect-link">
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</div>