<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/top-navbar.css">
    </head>

    <body>

        <header>
            <%- include('./shared/top-navbar.ejs') %>
        </header>

        <main>

            <p>About us</p>
           

        </main>



        <%- include('./shared/end.ejs') %>