<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/top-navbar.css">
    </head>

    <body>

        <header>
            <%- include('./shared/top-navbar.ejs') %>
        </header>

        <main style=" height: 400px; display: flex; justify-content: center; align-items: center;">

            <p style="    font-family: cursive;
           font-size: 50px;">Pizza is our life</p>

        </main>

        <script>
            navigator.serviceWorker.register('/sw.js')
                .then(reg => console.log('SW registered!', reg))
                .catch(err => console.error('Error registering service worker', err));
        </script>



        <%- include('./shared/end.ejs') %>