<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <main>

            <p>Hi, This application demonstrates two common web application vulnerabilities: <b>SQL Injection</b> and
                <b>Broken Authentication</b></p>
            <div class="row">
                <div style="margin-right: 20px;">
                    <a class="nav-link" href="/safe">Safe</a>
                </div>
                <div style="margin-left: 20px;">
                    <a class="nav-link" href="/vulnerable">Vulnerable</a>
                </div>

            </div>


        </main>
        <%- include('./shared/end.ejs') %>