<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/top-navbar.css">
    </head>

    <body>

        <header>
            <%- include('./shared/top-navbar.ejs') %>
        </header>

        <main>

            <p>Hi, This application demonstrates two common web application vulnerabilities: <b>SQL Injection</b> and
                <b>Broken Authentication</b>
            </p>
            <div class="row">
                <div style="margin-right: 20px;">
                    <a class="nav-link" href="/safe">Safe</a>
                </div>
                <div style="margin-left: 20px;">
                    <a class="nav-link" href="/vulnerable">Vulnerable</a>
                </div>

            </div>


        </main>

        <script>
            navigator.serviceWorker.register('/sw.js')
                .then(reg => console.log('SW registered!', reg))
                .catch(err => console.error('Error registering service worker', err));
        </script>



        <%- include('./shared/end.ejs') %>