<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/top-navbar.css">
    </head>

    <body>

        <header>
            <%- include('./shared/top-navbar.ejs') %>
        </header>

        <main class="menu-main">

            <header>
                <span class="siteTitle">Our pizzas<span>
            </header>

            <main class="cards">
                <a href="https://google.com" class="card">
                    <div class="inner">
                        <h2 class="title">Peperoni pizza</h2>
                        <time class="subtitle">Ingridients: tomato ketchup, oregano, cheesee, peperoni<time>
                    </div>
                </a>

                <a href="https://google.com" class="card card2">
                    <div class="inner">
                        <h2 class="title">Margherita pizza</h2>
                        <time class="subtitle">Ingridients: tomato ketchup, oregano, cheesee (4 types)<time>
                    </div>
                </a>

                <a href="https://google.com" class="card card3">
                    <div class="inner">
                        <h2 class="title">Tuna pizza</h2>
                        <time class="subtitle">Ingridients: tomato ketchup, oregano, cheesee, onion, tuna fish, olives<time>
                    </div>
                </a>

                <a href="https://google.com" class="card card4">
                    <div class="inner">
                        <h2 class="title">Mushroom pizza</h2>
                        <time class="subtitle">Ingridients: tomato ketchup, oregano, cheesee, mushrooms, ham<time>
                    </div>
                </a>



            </main>




            <%- include('./shared/end.ejs') %>