<%- include('./shared/head.ejs') %>
    
    <link rel="stylesheet" type="text/css" href="/css/top-navbar.css">
    </head>

    <body>

        <header>
            <%- include('./shared/top-navbar.ejs') %>
        </header>

        <main>

            404 not found


        </main>




        <%- include('./shared/end.ejs') %>